<th:block th:include="design/parts/header.html"></th:block>
<th:block th:include="design/parts/menu.html"></th:block>

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i th:if="${action} == 'Add'" class="pe-7s-plus icon-gradient bg-happy-itmeo"></i>
                        <i th:if="${action} == 'Edit'" class="pe-7s-config icon-gradient bg-happy-itmeo"></i>
                    </div>
                    <div>
                        <span th:text="${action} + ' product'" ></span>
                        <div class="page-title-subheading">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div th:if="${action} == 'Edit' and ${product} == null" class="card-body">
                        <h5 class="card-title">No such product found!</h5>
                        <a href="/client/list" class="btn btn-danger">Go to product list</a>
                    </div>
                    <div th:unless="${action} == 'Edit' and ${product} == null" class="card-body">

                        <h5 class="card-title">Enter product details</h5>
                        <form method="post" id="product_form">
                            <input id="userId" name="user_id" th:value="${userId}" type="hidden">

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="name" class="">Name</label>

                                        <input
                                                th:value="${product != null ? product.getName() : ''}"
                                                name="name"
                                                id="name"
                                                placeholder="Product name"
                                                type="text"
                                                autocomplete="off"
                                                class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="price" class="">Price</label>

                                        <input
                                            th:value="${product != null ? product.getPrice() : ''}"
                                            name="price"
                                            id="price"
                                            placeholder="Product price"
                                            type="number"
                                            min="0.01"
                                            autocomplete="off"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="quantity" class="">Quantity</label>

                                        <input
                                            th:value="${product != null ? product.getQuantity() : ''}"
                                            name="quantity"
                                            id="quantity"
                                            placeholder="Product quantity"
                                            type="number"
                                            min="1"
                                            autocomplete="off"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="critical_quantity" class="">Critical Quantity</label>

                                        <input
                                            th:value="${product != null ? product.getCriticalQuantity() : ''}"
                                            name="critical_quantity"
                                            id="critical_quantity"
                                            placeholder="Product critical quantity"
                                            type="number"
                                            min="1"
                                            autocomplete="off"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <button th:attr="data-action=${action},
                                            data-id=${product != null ? product.getId() : ''}"
                                            type="button"
                                            id="submit_button"
                                            class="mt-4 btn btn-primary">
                                        Save
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/actions/product.js"></script>
<th:block th:include="design/parts/footer.html"></th:block>