
        </div>
    </div>
        <script type="text/javascript" src="/assets/actions/tweet.js"></script>
    <script type="text/javascript" src="/assets/manager/scripts/main.js"></script>
    </body>
</html>
