<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
         <span class="hamburger-box">
         <span class="hamburger-inner"></span>
         </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
      <span>
      <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
      <span class="btn-icon-wrapper">
      <i class="fa fa-ellipsis-v fa-w-6"></i>
      </span>
      </button>
      </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Dashboards</li>
                <li>
                    <a th:href="@{/dashboard/index}" class="">
                        <i class="metismenu-icon pe-7s-home"></i>
                        Homepage
                    </a>
                </li>


                <th:block th:if="${role} == ${T(com.example.eStore.model.Rank).ADMINISTRATOR.toString()}">
                    <li class="app-sidebar__heading">Products</li>
                    <li>
                        <a th:href="@{/product/list}" class="">
                            <i class="metismenu-icon pe-7s-albums"></i>
                            List
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product/add}" class="">
                            <i class="metismenu-icon pe-7s-plus"></i>
                            Add
                        </a>
                    </li>

                    <li class="app-sidebar__heading">Merchants</li>
                    <li>
                        <a th:href="@{/user/list}" class="">
                            <i class="metismenu-icon pe-7s-users"></i>
                            List
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/user/add}" class="">
                            <i class="metismenu-icon pe-7s-add-user"></i>
                            Add
                        </a>
                    </li>
                </th:block>

                <li class="app-sidebar__heading">Clients</li>
                <li>
                    <a th:href="@{/client/list}" class="">
                        <i class="metismenu-icon pe-7s-users"></i>
                        List
                    </a>
                </li>
                <li>
                    <a th:href="@{/client/add}" class="">
                        <i class="metismenu-icon pe-7s-add-user"></i>
                        Add
                    </a>
                </li>

                <li class="app-sidebar__heading">Sales</li>
                <li>
                    <a th:href="@{/sale/list}" class="">
                        <i class="metismenu-icon pe-7s-albums"></i>
                        List (by period, by merchant)
                    </a>
                </li>
                <li>
                    <a th:href="@{/sale/add}" class="">
                        <i class="metismenu-icon pe-7s-plus"></i>
                        Add
                    </a>
                </li>


            </ul>
        </div>
    </div>
</div>