body {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    min-height: 100vh;
    /*background-image: linear-gradient(125deg, #5379d2, #b5e3bc);*/
    background-image: linear-gradient(125deg, #dcdce9, #6d6ddb);
}

.error-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #262a2f;
}

.error-container h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url("/assets/manager/images/textBackground.jpg") center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.error-container a{
    text-decoration: none;
    background: url("/assets/manager/images/buttonBackground.jpg") center no-repeat;
    color: #ffffff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s !important;
}

/*.error-container a:hover {*/
/*    background: url("https://t3.ftcdn.net/jpg/03/02/54/02/240_F_302540266_tipPmNNs0YZALjK6q2tH7pb093r4NDq6.jpg") center no-repeat;*/
/*    opacity: 0.95;*/
/*    transition: 1s;*/
/*}*/