<th:block th:include="design/parts/header.html"></th:block>
<th:block th:include="design/parts/menu.html"></th:block>

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i th:if="${action} == 'Add'" class="pe-7s-add-user icon-gradient bg-happy-itmeo"></i>
                        <i th:if="${action} == 'Edit'" class="pe-7s-config icon-gradient bg-happy-itmeo"></i>
                    </div>
                    <div>
                        <span th:text="${action} + ' client'"></span>
                        <div class="page-title-subheading">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div th:if="${action} == 'Edit' and ${client} == null" class="card-body">
                        <h5 class="card-title">No such client found!</h5>
                        <a href="/client/list" class="btn btn-danger">Go to client list</a>
                    </div>
                    <div th:unless="${action} == 'Edit' and ${client} == null" class="card-body">

                        <h5 class="card-title">Enter client details</h5>
                        <form method="post" id="client_form">
                            <input id="userId" name="user_id" th:value="${userId}" type="hidden">

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="name" class="">First Name</label>

                                        <input
                                                th:value="${client != null ? client.getName() : ''}"
                                                name="name"
                                                id="name"
                                                placeholder="Client first name"
                                                type="text"
                                                autocomplete="off"
                                                class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="last_name" class="">Last Name</label>

                                        <input
                                                th:value="${client != null ? client.getLastName() : ''}"
                                                name="last_name"
                                                id="last_name"
                                                placeholder="Client last name"
                                                type="text"
                                                autocomplete="off"
                                                class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <button th:attr="data-action=${action},
                                            data-id=${client != null ? client.getId() : ''}"
                                            type="button"
                                            id="submit_button"
                                            class="mt-4 btn btn-primary">
                                        Save
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/actions/client.js"></script>
<th:block th:include="design/parts/footer.html"></th:block>