<th:block th:include="design/parts/header.html"></th:block>
<th:block th:include="design/parts/menu.html"></th:block>

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i th:if="${action} == 'Add'" class="pe-7s-add-user icon-gradient bg-happy-itmeo"></i>
                        <i th:if="${action} == 'Edit'" class="pe-7s-config icon-gradient bg-happy-itmeo"></i>
                    </div>
                    <div>
                        <span th:text="${action} + ' merchant'"></span>
                        <div class="page-title-subheading">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div th:if="${action} == 'Edit' and ${user} == null" class="card-body">
                        <h5 class="card-title">No such user found!</h5>
                        <a href="/client/list" class="btn btn-danger">Go to user list</a>
                    </div>
                    <div th:unless="${action} == 'Edit' and ${user} == null" class="card-body">

                    <h5 class="card-title">Enter merchant details</h5>
                        <form method="post" id="user_form">

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="first_name" class="">First Name</label>

                                        <input
                                                th:value="${user != null ? user.getFirstName() : ''}"
                                                name="first_name"
                                                id="first_name"
                                                placeholder="Merchant first name"
                                                type="text"
                                                autocomplete="off"
                                                class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="last_name" class="">Last Name</label>

                                        <input
                                                th:value="${user != null ? user.getLastName() : ''}"
                                                name="last_name"
                                                id="last_name"
                                                placeholder="Merchant last name"
                                                type="text"
                                                autocomplete="off"
                                                class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="username" class="">Username</label>

                                        <input
                                                th:value="${user != null ? user.getUsername() : ''}"
                                                name="username"
                                                id="username"
                                                placeholder="Merchant username"
                                                type="text"
                                                autocomplete="off"
                                                class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="password" class="">Password</label>

                                        <input
                                                name="password"
                                                id="password"
                                                placeholder="Merchant password"
                                                type="password"
                                                autocomplete="off"
                                                class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="role" class="">Select Role</label>

                                        <select
                                                class="mb-2 form-control-sm form-control"
                                                name="role"
                                                id="role">
                                            <option th:selected="${user != null and user.getRank() == role}"
                                                    th:each="role : ${roles}"
                                                    th:value="${role}"
                                                    th:text="${role}" >
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <button th:attr="data-action=${action},
                                            data-id=${user != null ? user.getId() : ''}"
                                            type="button"
                                            id="submit_button"
                                            class="mt-4 btn btn-primary">
                                        Save
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/actions/user.js"></script>
<th:block th:include="design/parts/footer.html"></th:block>