<th:block th:include="design/parts/header.html"></th:block>
<th:block th:include="design/parts/menu.html"></th:block>

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users icon-gradient bg-happy-itmeo">
                        </i>
                    </div>
                    <div>Users List
                        <div class="page-title-subheading">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table class="mb-0 table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Rank</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            <th:block th:each="user : ${users}">
                                <tr>
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.rank}"></td>
                                    <td>
                                        <a th:href="${editLink} + ${user.id}"
                                           id="update" type="button"
                                           class="btn btn-labeled btn-info">
                                            <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span>Update
                                        </a>

                                        <button th:if="${user.id} != ${userId}"
                                                th:attr="data-id=${user.id}"
                                                type="button"
                                                class="btn btn-labeled btn-danger delete">
                                            <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Delete
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/actions/user.js"></script>
<th:block th:include="design/parts/footer.html"></th:block>