<th:block th:include="design/parts/header.html"></th:block>
<th:block th:include="design/parts/menu.html"></th:block>

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i th:if="${action} == 'Add'" class="pe-7s-plus icon-gradient bg-happy-itmeo"></i>
                        <i th:if="${action} == 'Edit'" class="pe-7s-config icon-gradient bg-happy-itmeo"></i>
                    </div>
                    <div>
                        <span th:text="${action} + ' sale'"></span>
                        <div class="page-title-subheading">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div th:if="${action} == 'Edit' and ${sale} == null" class="card-body">
                        <h5 class="card-title"> No such sale found!</h5>
                        <a href="/sale/list" class="btn btn-danger">Go to sale list</a>
                    </div>
                    <div th:unless="${action} == 'Edit' and ${sale} == null" class="card-body">

                        <h5 class="card-title">Enter sale details</h5>
                        <form method="post" id="sale_form">
                            <input id="userId" name="user_id" th:value="${userId}" type="hidden">

                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="product" class="">Select Product</label>
<!--                                    <input id="productId" name="product_id" th:value="${product}" type="hidden">-->

                                    <select
                                            class="mb-2 form-control-sm form-control"
                                            name="product"
                                            id="product">
                                        <option th:selected="${product != null and product.getId() == currProduct.getId()}"
                                                th:each="currProduct : ${products}"
                                                th:value="${currProduct.getId()}"
                                                th:text="${currProduct.getName()}" >
                                        </option>
                                    </select>
                                </div>
                            </div>


                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="quantity_sold" class="">Quantity Sold</label>

                                        <input
                                                th:value="${sale != null ? sale.getQuantitySold() : ''}"
                                                name="quantity_sold"
                                                id="quantity_sold"
                                                placeholder="Quantity sold of the product"
                                                type="number"
                                                min="1"
                                                autocomplete="off"
                                                class="form-control">
                                    </div>
                                </div>

                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="buyer" class="">Select Buyer</label>
                                    <input id="soldTo" name="sold_to" th:value="${client}" type="hidden">

                                    <select
                                            class="mb-2 form-control-sm form-control"
                                            name="buyer"
                                            id="buyer">
                                        <option th:selected="${client != null and client.getId() == currClient.getId()}"
                                                th:each="currClient : ${clients}"
                                                th:value="${currClient.getId()}"
                                                th:text="${currClient.buildFullName()}" >
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <button th:attr="data-action=${action},
                                        data-id=${sale != null ? sale.getId() : ''}"
                                        type="button"
                                        id="submit_button"
                                        class="mt-4 btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/actions/sale.js"></script>
<th:block th:include="design/parts/footer.html"></th:block>