<th:block th:include="design/parts/header.html"></th:block>
<th:block th:include="design/parts/menu.html"></th:block>

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-albums icon-gradient bg-happy-itmeo">
                        </i>
                    </div>
                    <div>Sales List
                        <div class="page-title-subheading">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h3>Date filter:</h3>
                        <form method="get">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="startDate" class="">Select start date</label>
                                    <input th:value="${startDate}" id="startDate" name="startDate" type="date" class="mb-2 form-control-sm form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="endDate" class="">Select end date</label>
                                    <input th:value="${endDate}" id="endDate" name="endDate" type="date" class="mb-2 form-control-sm form-control">
                                </div>
                            </div>

                            <div th:if="${userRole} == ${T(com.example.eStore.model.Rank).ADMINISTRATOR.toString()}" class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="seller" class="">Select seller</label>
                                    <select
                                            id="seller"
                                            name="seller"
                                            class="mb-2 form-control-sm form-control">
                                        <option value="0" text="Please select"></option>
                                        <option th:each="currUser : ${users}"
                                                th:value="${currUser.getId()}"
                                                th:text="${currUser.buildFullName()}"
                                                th:selected="${seller != null and seller == currUser.getId()}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <button
                                            id="update" type="submit"
                                            class="btn btn-labeled btn-info">
                                        <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span>
                                        Filter
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table class="mb-0 table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th>Quantity Sold</th>
                                <th>Sold by</th>
                                <th>Sold to</th>
                                <th>Date sold</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <th:block th:each="sale : ${sales}">
                                <tr>
                                    <td th:text="${sale.getId()}"></td>
                                    <td th:text="${sale.product.getName()}"></td>
                                    <td th:text="${sale.quantitySold}"></td>
                                    <td th:text="${sale.soldBy.buildFullName()}"></td>
                                    <td th:text="${sale.soldTo.buildFullName()}"></td>
                                    <td th:text="${sale.getDate()}"></td>
                                    <td>
<!--                                        <button id="update" type="button" class="btn btn-labeled btn-info">-->
<!--                                            <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span>Update-->
<!--                                        </button>-->

                                        <button th:attr="data-id=${sale.id}" type="button" class="btn btn-labeled btn-danger delete">
                                            <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Delete
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/actions/sale.js"></script>
<th:block th:include="design/parts/footer.html"></th:block>